@charset "utf-8";
/* CSS Document */


a:hover{ text-decoration:none; }
a:visited{ text-decoration:none; }
h1{ font-size: 30px; }
.w{width: 1500px;}


/*内容页*/
.border{ border-bottom:2px solid #848484; }
.centent{ width:1000px; overflow:hidden; margin:87px auto 0; background:#F3F3F3; }
.center_left{ width:216px; float:left; }
.center_left .list_one li{ display:block; width:216px; height:67px;clear:both;}
.center_left .list_one li a{ font-size:15px; display:block; width:216px; height:67px; line-height:67px; border-bottom:1px solid #E4E4E4; color:#666; }
.center_left .list_one li a:hover{ color:#0075D3; background:#fff; }
.glyphicon{ padding-right:30px; float:right; line-height:67px; height:67px; }
.center_left_hover{ width:6px; height:69px; margin-right:30px; float:left; }
.list_one>li>a:hover span,.list_one>li.on>a{color:#0075D3; background:#fff; }
.list_one>li>a:hover .center_left_hover,.list_one>li.on>a .center_left_hover{ background:#0274D4; }
.list_two{ width:150px; overflow:hidden; margin:42px auto; }
.list_two ul{ width:200px; }
.list_two li{ float:left; margin-right:10px; margin-bottom:10px; }
.list_two li a{ color:#007ED9; background:#fff; padding:5px 10px; border:1px solid #D5E7ED; border-radius:5px; }
.list_two li a:hover,.list_two li a.on{ color: #fff; background: #007ED9; }
.list_two li:hover{ }
.center_right{ overflow: hidden; background: #fff; margin: 20px 0; }
.center_right,.center_right div,.center_right span,.center_right p{ line-height: 28px!important; font-size: 14px}
/*产品*/
.product img{ width:100%; }
.product_center_right{ overflow: hidden; background: #fff; }
.product_center_right,.product_center_right>li>div,.product_center_right>li>span,.product_center_right>li>p,.product_center_right>li .desc p{ line-height: 28px!important; font-size: 14px}
.product{ padding-left: 30px; }
.product>li{ width:100%; height:167px; display: block; overflow: hidden; }
.product>li>span{ width:114px; height:114px; margin-top:30px; float:left; margin-right:30px; }
.product>li .desc{ float:left; overflow:hidden; padding-top:30px; width: 600px; }
.product>li .desc>h3{cursor:pointer}
.product>li .desc h3,.product_list li .desc h3{ font-size:15px; color:#333; font-weight:bold; }
.product>li .desc p{ line-height: 28px; font-size: 14px; }
.product_list>li{ width:100%; height:289px; border-bottom:1px solid #E6E6E6; }
.product_list>li>span{ width:328px; height:232px; margin-top:30px; float:left; }
.product_list>li>.lidiv{ float:left; width:380px; overflow:hidden; padding-left:25px; margin-top:25px; }
.product_list>li>.lidiv p{ padding-top:20px; }
.product_list>li .cover{ display: block; overflow: hidden; width: 328px; height: 232px; }
.product_list>li .cover>img{ width: 100%}
/*弹出框*/
.modal_title2{ width: 100%; margin: 0 auto; border-bottom: 1px solid #ccc; overflow: hidden; padding-bottom: 20px;}
.modal_title2 .img2{ width:50%; float: left; }
.modal_title2 .img2 span{ width: 226px;
display: block;
margin-top: 30px;
margin-left: 20px;
margin-bottom: 30px;
}
.modal_title2 .img2 img{ width: 100%; }
.modal_title2 .box2{ width: 50%; overflow: hidden; float: right; padding-top: 100px; padding-left: 50px}
.modal_title2 .box2 h3{ color: #000; padding-left: 28px; height: 29px; line-height: 29px; font-size: 16px;  }
.modal_title2 .box2 ul{ width: 100%; overflow: hidden; float: right; padding-top: 35px; }
.modal_title2 .box2 li{ float: left; height:33px; width: 186px; }
.modal_title2 .box2 li a{ color: #3694F4; font-size: 12px; }
.detail{ width: 100%; overflow: hidden; padding: 0 10px; color: #7B7B7B; }
.detail,.detail div,.detail span,.detail p{ line-height: 28px!important; font-size: 14px}
.detail h4,.detail h4 *{font-weight: bold;}
.detail img{ max-width: 100%; }
/*弹出框*/
.modal-header{display: block;overflow: hidden;}
.size{ font-size: 34px;}
.modal_title{ height: 342px; width: 880px; border-bottom: 1px solid #ccc; margin: 0 auto; padding: 45px 0; overflow: hidden; }
.modal_title .img1{ width:396px; height: 249px; float: left; }
.modal_title .box1{ width: 450px; overflow: hidden; float: left; }
.modal_title .box1 h3{ color: #000; padding-bottom: 10px; }
.modal-content h1{ padding-top: 55px; color: #000; font-size: 20px; padding-left: 10px; }
.detail ul{ padding-left: 10px; padding-top: 10px; }
.detail ul li a{ color: #6B6B6B; font-size: 14px; }
/*分页*/
.page{ text-align: right; margin-top: 20px; margin-bottom: 20px; }
.page span{ border: 1px solid #006ABE; padding: 10px 13px; line-height: 38px; background-color: #0074D4; color: #fff; }
.page a{ border: 1px solid #ccc; padding: 10px 10px; line-height: 38px; }
.page a:hover{ background-color: #0074D4; color: #fff; }
.solution_nav{width: 150px!important;
left: -25px;}


/*立即前往*/
.bbs_modal .modal-content{text-align: center;padding: 50px 0}
.bbs_modal h2{  font-size: 16px; }
.bbs_modal p{color: #C5C5C5;line-height: 65px}
.bbs_modal p font{color: red}
.bbs_modal span{}

.gotop {
  position: fixed;
  bottom: 210px;
  right: 0;
  width: 46px;
  height: 46px;

  z-index: 10;
}
.weixin{width: 46px; height: 46px; position: fixed; bottom: 260px; right: 0; display: block; }
.k{width: 113px; height: 113px; background: #fff; position: fixed; border: 2px solid #e1e1e1; bottom: 225px; right: 57px; display: none;}
.kk{width: 12px; height: 10px;  position: fixed; bottom: 275px; right: 47px; display: none;}


